input/test/*.jpg
input/train/*.jpg
#rotateFacesDeeperSystems/output/*.png
#rotateFacesDeeperSystems/output/rotatedImages/
output/*.zip *.png *.model *.pickle
output/rotatedImages/
#rotateFacesDeeperSystems/output/*.model
#rotateFacesDeeperSystems/output/*.pickle
#rotateFacesDeeperSystems/*.txt
*.npy *.txt
