*.jpg
rotateFacesDeeperSystems/input/train/*.jpg
rotateFacesDeeperSystems/output/*.png
rotateFacesDeeperSystems/output/rotatedImages/
output/*.zip
rotateFacesDeeperSystems/output/*.model
rotateFacesDeeperSystems/output/*.pickle
rotateFacesDeeperSystems/*.txt
*.npy
